<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Fragmento de código que será substituído pelo conteúdo do fragmento "heads" -->
    <div th:replace="fragments/heads :: heads"></div>

    <title>Adicionar Aluno</title>
    <style>
        .mensagem {
            color: red;
        }
    </style>
</head>
<body>

<div class="container">
    <!-- Fragmento de código que será substituído pelo conteúdo do fragmento "cabecalho" -->
    <div th:replace="fragments/header :: cabecalho"></div>
    <div class="row">
        <div class="col">

            <h2>Cadastro de Alunos</h2>

            <!-- Mensagem carregada após a inserção dos dados-->
            <div class="alert alert-success alert-dismissible fade show" th:if="${mensagem}">
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                <span th:text="${mensagem}"></span>
            </div>

            <!-- Formulário de cadastro de alunos th:action="@{/aluno/salvar} recurso do Thymeleaf -->
            <form th:action="@{/aluno/salvar}"  method="post">


                <div class="row mb-3">
                    <label class="col-sm-1 col-form-label">Nome:</label>
                    <div class="col-sm-5">

                        <!-- th:field="*{nome}" recurso do Thymeleaf. Carrega o atributo nome do objeto aluno -->
                        <input class="form-control" type="text">
                    </div>
                    <div class="col-sm-5">

                        <!-- Mensagem de erro caso o campo nome tenha algum erro de validação -->
                        <span class="mensagem"  ></span>
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-sm-1 col-form-label">Matrícula:</label>
                    <div class="col-sm-3">

                        <!-- th:field="*{matricula}" recurso do Thymeleaf. Carrega o atributo matricula do objeto aluno -->
                        <input class="form-control" type="text" >
                    </div>
                    <div class="col-sm-5">

                        <!-- Mensagem de erro caso o campo matricula tenha algum erro de validação -->
                        <span class="mensagem"  ></span>
                    </div>
                </div>


                <div class="row mb-3">
                    <label class="col-sm-1 col-form-label">Email:</label>
                    <div class="col-sm-2">

                        <!-- th:field="*{email}" recurso do Thymeleaf. Carrega o atributo email do objeto aluno -->
                        <input class="form-control" type="text" >
                    </div>
                    <div class="col-sm-5">

                        <!-- Mensagem de erro caso o campo email tenha algum erro de validação -->
                        <span class="mensagem" ></span>
                    </div>
                </div>
                <input  class="btn btn-primary" type="submit" value="Gravar"/>
            </form>

        </div>
    </div>

    <!-- Fragmento de código que será substituído pelo conteúdo do fragmento "footer" -->
    <div th:replace="fragments/footer :: footer">
    </div>